
  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$bgColor:#D3E10E;  
$bColor:#011560;
$pColor:#F9F9F9;
$bigSize:5rem;
$regularSize:1.2rem;
$smallSize:1rem;
$resSize1:2rem;
$resSize2:1rem;
$resSize3:0.5rem;

